[Unit]
Description=discord-translate-bot
After=network.target

[Service]
User=ubuntu
ExecStart=/opt/discord-translate-bot/start.sh
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
