[Unit]
Description=discord-translate-bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/discord-translate-bot
ExecStart=/opt/discord-translate-bot/start.sh
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
